# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

test.py
today.py
word_state.json

# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

wordbento-ai-assistant-v*/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local
.env*.development

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

#wrangler
wrangler_debug.log
wrangler.toml
.wrangler/
